.rectangle {
  font-family: 'Niconne', cursive;
  font-size: 15px;
  position: center;
  width: auto;
  height: auto;
  color: rgb(170, 217, 248);
  border-radius: 5px;
  border: solid rgb(78, 78, 78) 2px;
  padding: 15px; 
}

.column {
  padding: 5px;
}