/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
} */


.navbar {
  background-color: #074b5a
}

a,
.navbar-nav,
.navbar-light .nav-link {
  color: #9FFFCB
}

a:hover .navbar-nav:hover,
.navbar-light:hover .nav-link:hover {
  color: white
}

.navbar-brand {
  font-size: 1.4em;
  color: #9FFFCB;
}

navbar-brand:hover {
  color: white;
}