.title {
  font-family: Arial, Helvetica, sans-serif;
  display: 'flex';
  text-align: center;
  text-shadow: 0px 4px 10px #9FFFCB;
  font-size: 21px;
}


.sub_title {
  font-family: Arial,
    Helvetica,
    sans-serif;
  display: 'flex';
  justify-content: 'left';
  align-items: 'center';
  margin-left: 50px;
}
